<div class="note-wrapper">
    <div class="menu-trigger-area"></div>
    <div class="menu-trigger"></div>
    <div class="delete-menu">
        <div class="delete-option">
            <img src="{{ url_for('static', filename='visual/img/trash.png') }}" alt="Delete">
            <span>Delete</span>
        </div>
    </div>
    <li class="note-container" data-note-id="{id}">
        <div class="note-content">
            <textarea class="note-title" placeholder="Title">{title}</textarea>
            <textarea class="note-details {details_class}" placeholder="Description">{details}</textarea>
        </div>
    </li>
</div>