.input-container {
    width: 499px;
    margin: 50px auto;
    position: relative;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    position: absolute;
    width: 100%;
    height: 39px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: height 0.2s ease;
    background: white;
}

#title-input {
    width: 100%;
    font-size: 17px;
    line-height: 9px;
    padding: 16px 16px 0px 16px;
    background: transparent;
    position: relative;
    z-index: 1;
    height: 39px;
}

#description-input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 16px 9px 16px;
    background: transparent;
    display: none;
    position: relative;
    z-index: 1;
}

/* Note list container */
ul {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style: none;
}

/* Individual note container */
li {
    width: 499px;
    height: 70px;
    padding: 16px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

/* Note title */
li h3 {
    font-size: 17px;
    margin-bottom: 4px;
}

/* Note description */
li p {
    font-size: 14px;
    color: #4f4f4f;
}

