<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="{{ url_for('static', filename='visual/css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='visual/css/styles.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>  
    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h1>Spaces</h1>
                <button class="add-space-btn">+</button>
            </div>
            <div class="sidebar-content">
                <ul class="space-list">
                    {% for space in spaces %}
                        <li class="space-item {% if space[1] == current_space %}active{% endif %}" 
                            data-space-id="{{ space[0] }}">
                            {{ space[1] }}
                            {% if space[1] != 'default' %}
                                <button class="delete-space-btn">×</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="main-content">
            <div class="main-container"> 
                <div class="space-title" contenteditable="true">{{ current_space }}</div>
                <div class="input-container">
                    <div class="input-box"></div>
                    <textarea id="title-input" type="text" placeholder="Press Enter for new note"></textarea>
                    <textarea id="description-input" type="text" placeholder="Description... Enter to dismiss"></textarea>
                </div>
                <ul>
                    {{ notes|safe }}
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>
</body>
</html>