<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="{{ url_for('static', filename='visual/css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='visual/css/styles.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>  
    <div class="main-container"> 
      <div class="input-container">
        <div class="input-box"></div>
          <textarea id="title-input" type="text" placeholder="Press Enter for new note"></textarea>
          <textarea id="description-input" type="text" placeholder="Description... Enter to dismiss"></textarea>
      </div>
       

       <ul>
        {{ notes|safe }}
      </ul>
      <script src="{{ url_for('static', filename='js/input.js') }}"></script>
    </div>

</body>
</html>